/* ==================================================
   MG3i TRAINER – TIMER
   Pořadí: LEVEL | XP | MENU
   ================================================== */

#top-strip {
  display: flex !important;
  width: 100% !important;
}

/* Vlevo – LEVEL */
#top-strip>.top-strip-center {
  order: 1 !important;
  flex: 0 0 29% !important;
  
  border-right:
    1px solid rgba(255, 255, 255, 0.11) !important;
}

/* Uprostřed – XP */
#top-strip>.xp-item {
  order: 2 !important;
  flex: 1 1 43% !important;
  
  border-right:
    1px solid rgba(255, 255, 255, 0.11) !important;
}

/* Vpravo – MENU */
#top-strip>#top-menu-wrap {
  order: 3 !important;
  flex: 0 0 28% !important;
  
  border-right: 0 !important;
}

#top-strip>#top-menu-wrap #top-menu-btn {
  display: flex !important;
  width: 100% !important;
  height: 100% !important;
  
  padding: 0 5px !important;
  
  align-items: center !important;
  justify-content: center !important;
  gap: 5px !important;
}